@page
@model Proy_Identity.Pages.Account.LogoutModel
@{
}


@{
    ViewData["Title"] = "Log out";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>@ViewData["Title"]</h1>
        <p>You have successfully logged out of the application.</p>
        <a href="/" class="logout-button">Go to Homepage</a>
    </header>
</body>
</html>

