@page
@model Proy_Identity.Pages.PrivacyAdminModel
@{
    ViewData["Title"] = "Privacy Usuarios";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
  
</head>
<body>
    <h1>@ViewData["Title"]</h1>


    <p>Bienvenido al carrito de compra.</p>


    <img src="https://img.freepik.com/vector-gratis/fondo-rebajas-viernes-negro-carrito-compras_1017-27938.jpg?t=st=1733930588~exp=1733934188~hmac=f8b48b267809498810d991e2defa054ad0c4c6b7e330cdf635746ca8592ac3bb&w=740" alt="Carrito de Compras">
</body>
</html>

